*{
	padding:0;
	margin:0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
}
body{
	background:#F7F7F7;
}
#content{
	padding-top:0px;
}
#header{
	width:100%;
	height:45px;
	position:fixed;
	background:#0A9C74;
	border-bottom:1px solid #076D52;
	box-shadow:0px 0px 20px #999999;
	z-index:1000000000;
}
#menus{
	border:0px solid gray;
	width:1000px;
	height:45px;
	margin:auto;
}
#menu{
	color:#FFF;
	font-weight:bold;
	text-align:center;
	line-height:43px;
	height:45px;
	float:left;
	width:100px;
}
#menu_login{
	color:#FFF;
	font-weight:bold;
	text-align:center;
	line-height:43px;
	height:45px;
	float:right;
	width:100px;
}
#menu:hover,#menu_login:hover{
	color:#FFFFFF;
	background:#066047;
	border-top:23px solid #098462;
	transition:all ease-in 0.2s;
	cursor:pointer;
}
#menu_sub{
	background:#F7F7F7;
	width:100%;
	height:300px;
	border-bottom:1px solid #C8C8C8;
	box-shadow:0px 2px 4px #D6D6D6;
	position:fixed;
	margin-top:46px;
	display:none;
	padding-top:30px;
	z-index:1
}
#menu_sub_isi{
	margin:auto;
	width:1000px;
}
#container{
	width:1000px;
	border:1px solid #CCC;
	margin:auto;
	padding-top:75px;
	background:#FFFFFF;
	padding-bottom:200px;
	min-height:800px;
}
#footer{
	position:fixed;
	bottom:-200px;
	width:100%;
}
#footer1{
	background:url(image/footer.gif);
	cursor:pointer;
	width:100%;
	height:82px;
}
#footer2{
	background:rgb(181,203,97);
	height:210px;
}
#footer3{
	width:1000px;
	margin:auto;
	border:0px solid gray;
	background:url(image/stmj.png) no-repeat 10px 10px;
	height:100%;
}
#footer_isi{
	text-align:justify;
	height:100%;
	margin-left:220px;
}
#footer_isi p{
	margin:-16px 0px 0px 80px;
}
#footer_judul{
	font-size:30px;
	padding:5px 0px;
}
#loader{
	background:rgba(0,0,0,0.6);
	position:fixed;
	height:100%;
	width:100%;
	display:none;
	z-index:100000000000000000000000000000000000000000000000000000000000000000000;
}
#loading{
	background:url(image/load.gif) no-repeat;
	border-radius:100%;
	height:50px;
	width:50px;
	margin:auto;
	margin-top:25%;
}
#menu_judul{
	font-size:20px;
	border-bottom:2px dashed #333333;
	padding-bottom:2px;
	margin-bottom:15px;
	color:#017051
}
#menu_tab{
	margin-right:20px;
	width:200px;
	float:left;
}
#sub_link{
	padding:5px 0px;
}
#sub_link:hover{
	padding-left:20px;
	transition:all ease-in 0.2s;
	cursor:pointer;
	color:#017051
}
#login{
	border-bottom:1px solid #01B181;
	border-left:1px solid #01B181;
	border-right:1px solid #01B181;
	background:#F3F3F3;
	float:right;
	padding:15px 10px 10px 10px;
	margin-right:-1px;
}
#box_login{
	margin-top:46px;
	position:fixed;
	width:100%;
	border:0px solid gray;
	display:none;
	z-index:1
}
#box_l{
	width:1000px;
	margin:auto;
	border:0px solid gray;	
}
#il{
	border:1px solid #CCC ;
	border-radius:4px;
	padding:8px;
	margin-bottom:5px;
	box-shadow:0px 0px 10px #E9E9E9 inset;
	color:#CCCCCC
}
#il:hover{
	border:1px solid #01B181
}
#il:focus{
	border:1px solid #01B181;
	box-shadow:0px 0px 6px #CCC;
	color:#666
}
#tl{
	float:right;
	margin-top:5px;
	border:0px solid #CCC;
	padding:9px;
	cursor:pointer;
	text-align:center;
	color:#FFF;
	background:#098865;
}
#tl:hover{
	background:#01AF80;
	transition: all ease-in 0.2s
	
}

#data{
	border-collapse:collapse;
	border-bottom:5px solid #2C5656;
	border-top:4px solid #2C5656;
}
#data th{
	border:1px solid #326565;
	background:#408080;
	padding:14px 0px;
	color:#FFF;
	font-weight:normal;
	font-size:15px;
}
#data td{
	padding:10px 0px
}
#th:hover{
	background:#CCE6E6;
}
#jud{
	border:0px solid gray;
	height:70px;
}
#judul{
	color:#FFF;
	font-size:15px;
	padding:13px 25px;
	background:#0A9C74;
	float:left;
}
#isi{
	color:#FFF;
	font-size:15px;
	padding:13px 25px;
	background:#0A9C74;
	float:right;	
}
.ntf{
	text-align:center;
	margin-top:-8px;
	margin-bottom:10px;
	background:#039267;
	color:#FFFFFF;
	padding:5px 0px;
}
#detail1{
	border-collapse:collapse;
}
#detail1 th{
	border-top:4px solid #2C5656;
	font-weight:normal;
	font-size:15px;
	text-align:left;
	padding:15px 25px;
	background:#408080;
	color:#FFFFFF
}
#detail1 td{
	padding:7px 25px;
}
#photo{
	width:130px;
	border:4px solid #408080;
	height:150px;
	margin-top:15px
}
#tbl{
	width:94px;
	text-align:center;
	color:#FFF;
	font-size:15px;
	padding:14px 0px;
	background:#0A9C74;
	margin:auto;
}
#tbl:hover{
	background:#096F5A;
	transition:all ease-in 0.2s;
}
#tbl a{text-decoration:none; border:0px solid blue; padding:13px 29px; width:10%; color:#FFF; font-size:15px;}
#new{
	float:left;
	margin-top:5px;
	border:0px solid #CCC;
	padding:10px 9px;
	cursor:pointer;
	text-align:center;
	color:#FFF;
	background:#098865;
}
#new:hover{
	background:#01AF80;
	transition: all ease-in 0.2s
	
}

#input{
	width:300px;
	border:1px solid #CCC ;
	border-radius:4px;
	padding:8px;
	margin-bottom:5px;
	box-shadow:0px 0px 10px #E9E9E9 inset;
	color:#CCCCCC
}
#input:hover{
	border:1px solid #01B181
}
#input:focus{
	border:1px solid #01B181;
	box-shadow:0px 0px 6px #CCC;
	color:#666
}
.notification {
	background:#039267;
	border-radius:1px;
	color:#FFF;
	font-size:13px;
	margin-left:10px;
	margin-top:4px;
	position: absolute; 
	display: none;
	padding:5px;
}
.notification:before {
	content: "\25C0";
	color:#039267;
	position: absolute;
	top:3px;
	left:-9px;
}
#input:focus + .notification,#select:focus + .notification  {
	display: inline;
}
#form{
}
#form td{ padding-left:22px}
.notif{
	background:#039267;
	padding:12px 0px; 
	color:#FFFFFF;
	text-align:center;
	margin:-5px 0px 20px 0px;
	font-size:14px
}
#photo_guru{
	border:1px solid #CCC;
	width:175px;
	height:200px; 
	float:left;
	margin:11px;
}
.detail_guru{
	background:#24858C;
	border-top:10px solid #044F40;
	color:#FFFFFF;
	height:170px;
	padding:10px;
	display:none
}
#photo_guru:hover > .detail_guru{ display:block;}

#select{
	width:300px;
	border:1px solid #CCC ;
	border-radius:4px;
	padding:8px;
	margin-bottom:5px;
	box-shadow:0px 0px 10px #E9E9E9 inset;
	color:#CCCCCC
}
#select:hover{
	border:1px solid #01B181
}
#select:required:valid{
	border:1px solid #01B181;
	color:#666666
}
#select:focus{
	border:1px solid #01B181;
	box-shadow:0px 0px 6px #CCC;
	color:#666
}
#select option{ padding-left:11px;}
#select:focus + .notification,#select:focus + .notification  {
	display: inline;
}
#berita_box{
	border:0px solid gray;
	padding:0px 22px 10px 22px;
}
#judul_berita{
	position:absolute;
	color:#FFF;
	border:0px solid gray;
	padding:12px 12px 12px 30px;
	margin:0px 0px 0px -22px;
	background:#0C9A7D;
	font-size:14px;
}
#judul_berita:hover{
	cursor:pointer;
	background:#0DB795;
}

#berita{
	text-align:justify;
	padding:50px 6px 6px 6px;
	border:1px solid #0A876D;
}
#berita_isi{
	padding:25px;
	line-height:20px;
	text-align:justify
}
#berita_photo{
	border:3px solid #CCC;
	float:left;
	width:500px;
	height:223px;
	margin-right:15px;
	margin-bottom:6px;
	box-shadow:0px 0px 10px #CCCCCC;
}
#tgl_pos{
	float:right;
	margin:5px 5px 0px 0px;
}
#tgl_posting{
	color:#FFF;
	background:#09A280;
	margin:0px 0px 10px	0px;
	padding:13px 0px 13px 23px;
	font-size:16px;
}
#con{
	padding-top:420px;
}
#neh{
	background:#333;
	border:0px solid gray;
	margin-top:20px;
	height:330px
}
#sk{
	background:url(image/sk.PNG) no-repeat #408080;
	background-position:center;
	background-size:130px;
	padding:100px;
	border:0px solid gray;
	float:left;
	border-radius:100%;
	margin:50px 0px 0px 200px;
}
#gr{
	background:url(image/guru.PNG)  no-repeat #408080;
	background-position:center;
	background-size:150px;
	padding:100px;
	border:0px solid gray;
	float:right;
	border-radius:100%;
	margin:50px 200px 0px 0px;
}
#sk:hover{
	transform:rotate(360deg);
	transition:all ease-in 0.5s;
	cursor:pointer;
}
#gr:hover{
	transform:rotate(-360deg);
	transition:all ease-in 0.5s;
	cursor:pointer;
}
#sk_nama{
	color:#FFF;
	border-left:2px solid gray;
	border-right:2px solid gray;
	border-bottom:2px solid gray;
	width:240px;
	height:30px;
	text-align:center;
	float:left;
	margin-top:10px;
	font-size:16px;
	margin-left:180px;
	line-height:34px;
}
#gr_nama{
	color:#FFF;
	border-left:2px solid gray;
	border-right:2px solid gray;
	border-bottom:2px solid gray;
	width:240px;
	height:30px;
	text-align:center;
	float:right;
	margin-top:10px;
	font-size:16px;
	margin-right:180px;
	line-height:34px;
}
#pag{
	margin-top:20px;
	padding:22px;
	border:0px solid gray;
}
#pag span{
	padding:10px;
	background:#0AB68F;
	color:#FFF;
	font-weight:bold;
}
#pag span:hover{
	background:#0CD6A8;
	cursor:pointer;
}
#masuk_sub{
	border:0px solid gray;
	margin-left:14px;
	width:23px;
	height:23px;
	float:left;
	background:url(image/mlebu.png) 0px 0px no-repeat;
	background-position:center;
	background-size:22px;
}
#masuk_sub:hover{	
	opacity:0.6;
	cursor:pointer;
	transition:all ease-in 0.2s;}
#edit{
	border:0px solid gray;
	width:23px;
	height:23px;
	float:left;
	background:url(image/icon.png) 0px 0px no-repeat;
}
#box_edit_nilai_bg{
	position:fixed;
	border-radius:4px;
	width:382px;
	border:5px solid #09AE8D;
	background:#FFF;
	margin:230px 0px 0px 290px;
	padding:20px 0px 20px 20px;
	box-shadow:0px 0px 20px #999999
}
.btn2{
	background:#FFFFFF;
	border-radius:4px;
	border:1px solid #CCC;
	box-shadow:0px -20px 10px #F3F3F3 inset;
	padding:8px 6px;
	cursor:pointer;
	text-align:center;
}
.btn2:hover{
	box-shadow:0px -10px 10px #F3F3F3 inset;
}